{% extends 'base.html' %}
{% block content %}
    <div class="watch_form">
        <form action="/watches/{{watch.id}}" method="POST">
        
            <input type="hidden" name="brand_id" value="{{watch.brand.id}}">

            <label for="model">Model: </label>
            <input type="text" placeholder="Update Model" maxlength="50" id="model" name="model" required
            value="{{watch.model}}">

            <label for="price">Price: </label>
            <input type="int" placeholder="Update Price" maxlength="6" id="price" name="price" required
            value="{{watch.price}}">

            <label for="image">Image: </label>
            <input type="text" placeholder="Update Image File Name" maxlength="200" id="image" name="image" required
            value="{{watch.image}}">

            <input type="submit" value="Update watch">
    </form>
</div>
{% endblock content %}
