{% extends 'base.html' %}
{% block content %}
    <div class="watch_form">
        <form action="/watches/{{watch.id}}" method="POST">
        
            <input type="hidden" name="brand_id" value="{{watch.brand.id}}">

            <br><br><label for="model">Model: </label>
            <input type="text" placeholder="Update Model" maxlength="50" id="model" name="model" required
            value="{{watch.model}}">

            <br><br><label for="price">Price: </label>
            <input type="int" placeholder="Update Price" maxlength="6" id="price" name="price" required
            value="{{watch.price}}">

            <br><br><label for="image">Image: </label>
            <input type="text" placeholder="Update Image File Name" maxlength="200" id="image" name="image" required
            value="{{watch.image}}">

            <br><br><label for="sold">Sold </label>
            <select id="sold" name="sold">
                <option value="False"
                {% if watch.sold == False %} selected="selected" {% endif %}>
                Available
                </option>
                <option value="True"
                {% if watch.sold == True %} selected="selected" {% endif %}>
                Sold
                </option>
            </select>

            <br><br><input type="submit" value="Update watch" class="button">
    </form>
</div>
{% endblock content %}
