header {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%), url(https://img.freepik.com/premium-photo/abstaract-3d-rendering-illustration-watches-with-gears-sketch-looking-outline-lines_363039-260.jpg?w=1480);
    background-size:50%;
    background-position: center;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    color: rgb(136, 115, 52);
    position: fixed;
    z-index: 1;
    font-size: medium;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, rgb(255, 255, 254), #ffffff);
    background-repeat: no-repeat;
    font-family:'Courier New', Courier, monospace;
    padding-top: 170px; 
    margin: 0;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: xx-large;
    font-weight: normal;
}

h2{
    font-weight: normal;
    font-size: x-large;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 10px;
    color: #ffffff;
    font-weight: normal;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size:large;
}

.menu a:hover {
    color: rgb(192, 167, 94);
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #3c3c3c;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    border-radius: 7px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul > li{
    list-style: none;
    text-align: center;
}

.container > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 0;
}

.container > ul > li {
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
    /* box-shadow: 0px 0px 10px rgb(184, 172, 139); */
    border-radius: 10px;
    margin: 10px;
    padding: 20px; 
    width: 25%; 
    justify-content: center;  
}

.container ul > li > a{
    font-size: medium;
    color: #222222;
}

.container ul > li > a:visited{
    font-size: medium;
    color: #222222;
}

.container a{
    text-decoration: none;
    justify-content: center;
}

.watch_details{
    padding: 10px;
    list-style: none;
    text-align: center;
    font-size: large;
    color: black;
}
.watch_details:visited {
    padding: 10px;
    list-style: none;
    text-align: center;
    font-size: large;
    color: black;
}

img.brand {
    max-width: 50%;
}

.brand:hover {
    transform: scale(1.25);
    transition: transform 0.5s ease-out;
}

img.watch_list {
    max-width: 80%;
}

img.selected_watch{
    max-width: 40%;
}

img.brand_watches{
    max-width: 80%;
}

img.brand_page{
    max-width: 10%;
}

.brand_header {
    text-align: center;
}

.watch_form{
    display:flex;
    padding: 100px;
    justify-content: center;
}

.watch_list:hover {
    animation-name: bounce;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
  }
    @keyframes bounce {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
  }

.selected_watch:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-out;
}

.sold{
    font-weight: bold;
    color:#9b0000;
}

.available{
    font-weight: bold;
    color:#3e6f3f;
}

.brand_name{
    font-weight: bold;
    font-size: large;
    color: black;
}

.brand_name:visited{
    font-weight: bold;
    font-size: large;
    color: black;
}

.button {
    background-color: rgb(192, 167, 94);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    width: 250px;
}

.button:hover {
    background-color: #3c3c3c;
    color: rgb(192, 167, 94);
}

.dashboard_content div {
    border-style: double;
    border-radius: 10px;
    border-color:rgb(192, 167, 94);
    color: #222222;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: x-large;
}

.dashboard_content > ul > li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    border-style: double;
    border-color: rgb(192, 167, 94);
    color: #222222;
    border-radius: 10px;
    /* font-weight:bold; */
    font-size: larger;
}

.non-padded-ul {
    padding: 0px;
    margin-left: 50px;
    margin-right: 50px;
}
