{% extends 'base.html' %}
{% block content %}

<div class = "dashboard_content">
    <div>
        <h2>WELOME TO YOUR DASHBOARD</h2>
    </div>
<ul class="non-padded-ul">
    <li>You have sold a total of £{{total_sold}}, based on the sale of {{total_quantity_sold}} watches.</li>
    <!-- <br><li>Your best selling brand is *******, with **** sold.</li>
    <br><li>Your most brand that has generated the most profit is **** with *** sold.</li>
    <br><li>Your least sold brand is **** with **** sold.</li> -->
    </ul>
</div>

{% endblock content %}

